@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroImages {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(1rem 2rem);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes randomMove {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, -5px);
  }
  50% {
    transform: translate(-5px, 5px);
  }
  75% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove2 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-6px, 3px);
  }
  50% {
    transform: translate(4px, -2px);
  }
  75% {
    transform: translate(5px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove3 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(4px, 3px);
  }
  50% {
    transform: translate(7px, 1px);
  }
  75% {
    transform: translate(2px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove3 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-9px, 9px);
  }
  50% {
    transform: translate(2px, 3px);
  }
  75% {
    transform: translate(-8px, 7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove4 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(5px, -2px);
  }
  50% {
    transform: translate(7px, 1px);
  }
  75% {
    transform: translate(4px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove5 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-7px, 10px);
  }
  50% {
    transform: translate(-6px, -10px);
  }
  75% {
    transform: translate(-9px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove6 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(9px, 2px);
  }
  50% {
    transform: translate(5px, -8px);
  }
  75% {
    transform: translate(-9px, -3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove7 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-2px, -10px);
  }
  50% {
    transform: translate(8px, -2px);
  }
  75% {
    transform: translate(10px, 3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove8 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-3px, -6px);
  }
  50% {
    transform: translate(8px, 2px);
  }
  75% {
    transform: translate(-7px, -1px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove9 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-3px, -1px);
  }
  50% {
    transform: translate(-4px, 9px);
  }
  75% {
    transform: translate(-2px, -9px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove10 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-10px, -6px);
  }
  50% {
    transform: translate(-8px, 1px);
  }
  75% {
    transform: translate(10px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove11 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -1px);
  }
  50% {
    transform: translate(-2px, -5px);
  }
  75% {
    transform: translate(-8px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove12 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(3px, 1px);
  }
  50% {
    transform: translate(5px, 0px);
  }
  75% {
    transform: translate(-10px, -7px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes randomMove13 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-3px, -5px);
  }
  50% {
    transform: translate(-10px, -9px);
  }
  75% {
    transform: translate(8px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
* {
  box-sizing: border-box;
}

html:root {
  font-size: 10px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Bold.woff) format(woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Bold.woff2) format(woff2);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Regular.woff) format(woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Semibold.woff) format(woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Semibold.woff) format(woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Semibold.woff2) format(woff2);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Thin.woff) format(woff);
}
@font-face {
  font-family: "Proxima Nova";
  src: url(../font/Proxima-Nova-Thin.woff2) format(woff2);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

body {
  background: #F7F7F7;
}

ul, li, ol, p {
  padding: 0;
  margin: 0;
}

.hero-logo-title {
  font-weight: 600;
  font-size: 2.2rem;
  color: #292929;
  transition: all 0.3s;
  font-family: "Montserrat";
}

.descr {
  font-weight: 400;
  font-size: 1.6rem;
  color: #292929;
  transition: all 0.3s;
  position: relative;
  z-index: 111;
  font-family: "Montserrat";
}
.descr__semiBold {
  font-weight: 600;
}
.descr__18 {
  font-size: 1.8rem;
  text-align: center;
}

.title-first {
  font-weight: 600;
  font-size: 4.2rem;
  color: #292929;
  transition: all 0.3s;
  font-family: "Montserrat";
  position: relative;
  z-index: 11;
}

.pros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D4E9F9;
  padding: 1.5rem 13.5rem;
}
.pros-button {
  color: rgba(41, 41, 41, 0.8);
  background: none;
  border: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.pros-button:focus {
  outline: none;
}
.pros-button:hover {
  color: #fff;
}
.pros-button:active {
  color: rgba(41, 41, 41, 0.8);
}
.pros-item {
  background: #D4E9F9;
  display: flex;
  align-items: start;
  transition: all 0.3s;
  width: 111.2rem;
  justify-content: center;
}
.pros-item img {
  margin-right: 1.2rem;
}
.pros-item-text {
  font-weight: 300;
  font-size: 1.8rem;
  color: #292929;
  transition: all 0.3s;
  letter-spacing: 2px;
  color: #141414;
}

.nabery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #FFDBC3;
  position: relative;
  padding: 3.6rem 9.1rem;
  width: 57rem;
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}
.nabery-item:nth-child(4), .nabery-item:nth-child(6) {
  margin-right: 0;
}
.nabery-item:nth-child(5), .nabery-item:nth-child(6) {
  margin-bottom: 0;
}
.nabery-item:nth-child(5)::before, .nabery-item:nth-child(6)::before {
  content: "";
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nabery-item:nth-child(2) .nabery-item-icon-container {
  padding: 2rem 1.5rem 2.4rem 1.4rem;
}
.nabery-item:nth-child(3) .nabery-item-icon-container {
  padding: 1.1rem 1.4rem 1.4rem 1.2rem;
}
.nabery-item:nth-child(4) .nabery-item-icon-container {
  padding: 1.8rem 2.6rem;
}
.nabery-item:nth-child(5) .nabery-item-icon-container {
  padding: 2.3rem 2rem 2.4rem 2.3em;
}
.nabery-item:nth-child(6) .nabery-item-icon-container {
  padding: 2.1rem;
}
.nabery-item:nth-child(2) {
  margin-right: 0;
  background: #FFC2CC;
}
.nabery-item:nth-child(2)::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.nabery-item:nth-child(3) {
  background: #B4EAB3;
}
.nabery-item::before {
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.nabery-item:nth-child(4) {
  background: #FDD5CD;
}
.nabery-item:nth-child(4)::before {
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}
.nabery-item:nth-child(5) {
  background: #A8DCDF;
}
.nabery-item:nth-child(6) {
  background: #C4C6EC;
}
.nabery-item:nth-child(6)::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.nabery-item-icon-container {
  background: #fff;
  border-radius: 50%;
  padding: 2.1rem;
  margin-bottom: 2rem;
}
.nabery-item-title {
  margin-bottom: 1rem;
  z-index: 1073;
}
.nabery-item-title a {
  font-weight: 600;
  font-size: 2rem;
  color: #292929;
  transition: all 0.3s;
  margin-right: 1.3rem;
}
.nabery-item-descr {
  font-weight: 400;
  font-size: 1.6rem;
  color: #292929;
  transition: all 0.3s;
  z-index: 34412;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F7EBE5;
  padding: 1.2rem 13.5rem;
}
.header-top-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-top-list-item {
  font-weight: 400;
  font-size: 1.4rem;
  color: #292929;
  transition: all 0.3s;
  position: relative;
}
.header-top-list-item-button {
  font-weight: 400;
  font-size: 1.4rem;
  color: #292929;
  transition: all 0.3s;
  background: none;
  border: none;
}
.header-top-list-item-button:focus {
  outline: none;
}
.header-top-list-item-button:hover {
  color: #D4E9F9;
}
.header-top-list-item-button:active {
  color: #292929;
}
.header-top-list-item a {
  color: rgba(42, 28, 28, 0.79);
}
.header-top-list-item a:is(#sales)::after {
  content: "%";
  display: inline-block;
  background: #E7426A;
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.header-top-list-item:not(:last-child) {
  margin-right: 1.4rem;
}
.header-top-list-item-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 1.6rem;
  top: 4rem;
  background: #fff;
  padding: 1.6rem 1.9rem 1.7rem 1.2rem;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  width: 27.1rem;
  display: none;
  transition: all 0.3s;
  z-index: 4357589758237;
}
.header-top-list-item-links__active {
  display: flex;
  animation: dropdown 1.5s ease;
}
.header-top-list-item-link::after {
  content: "";
  display: inline-block;
  width: 100%;
  background: #EDEDF0;
  height: 0.1rem;
}
.header-top-list-item-link:not(:last-child) {
  margin-bottom: 3rem;
}
.header-top-right {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: #292929;
  transition: all 0.3s;
}
.header-top-right i {
  margin-right: 0.5rem;
}
.header-select select {
  border: none;
  appearance: none;
  background: url(../icons/header-select-icon/chevron-down-solid.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 1rem 1.3rem;
  background-position-x: 8.5rem;
  transition: all 0.3s;
  font-weight: 300;
}
.header-select select:focus {
  outline: none;
}
.header-select select:hover {
  font-size: 1.6rem;
  cursor: pointer;
}
.header-select select:active {
  font-size: 1.4rem;
}
.header-select i {
  font-size: 1.7rem;
}
.header-phone:focus {
  outline: none;
}
.header-phone:hover {
  font-size: 1.5rem;
}
.header-phone:active {
  font-size: 1.4rem;
}
.header-phone a {
  color: #141414;
}
.header-social {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.header-social a {
  color: #141414;
  font-size: 1.8rem;
}
.header-bottom {
  font-weight: 400;
  font-size: 1.4rem;
  color: #292929;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.9rem 22.9rem 1.6rem 16rem;
  background: #fff;
}
.header-bottom a {
  color: #292929;
  text-transform: uppercase;
}
.header-bottom a:focus {
  text-decoration: none;
}
.header-bottom a:hover {
  color: #D4E9F9;
  text-decoration: none;
}
.header-bottom a:active {
  color: #292929;
}

.hero {
  position: relative;
  padding: 3.9rem 11rem 0.6rem 18.6rem;
  clip-path: inset(0 0 0 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.7rem;
}
.hero-img img {
  z-index: 100000;
  position: relative;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
  transition: all 0.3s;
  will-change: transform;
}
.hero-img img:not(:first-child) {
  position: absolute;
  animation: heroImages 2s infinite;
}
.hero-img img:nth-child(2) {
  top: 4.7rem;
  left: 33.3rem;
  animation: randomMove 6s infinite;
}
.hero-img img:nth-child(3) {
  top: 7.2rem;
  left: 60.5rem;
  animation: randomMove2 6s infinite;
}
.hero-img img:nth-child(4) {
  top: 19.4rem;
  left: 65.9rem;
  animation: randomMove3 6s infinite;
}
.hero-img img:nth-child(5) {
  top: 28.2rem;
  left: 60.6rem;
  animation: randomMove4 6s infinite;
}
.hero-img img:nth-child(6) {
  bottom: 5.3rem;
  left: 60.9rem;
  animation: randomMove5 6s infinite;
}
.hero-img img:nth-child(7) {
  bottom: 4.9rem;
  left: 56.5rem;
  animation: randomMove6 6s infinite;
}
.hero-img img:nth-child(8) {
  bottom: 2rem;
  left: 32rem;
  animation: randomMove7 6s infinite;
}
.hero-img img:nth-child(9) {
  bottom: 0.6rem;
  left: 21.1rem;
  animation: randomMove8 6s infinite;
}
.hero-img img:nth-child(10) {
  bottom: 4.3rem;
  left: 12.3rem;
  animation: randomMove9 6s infinite;
}
.hero-img img:nth-child(11) {
  bottom: 8.6rem;
  left: 15rem;
  animation: randomMove10 6s infinite;
}
.hero-img img:nth-child(12) {
  bottom: 13.2rem;
  left: 3.9rem;
  animation: randomMove11 6s infinite;
}
.hero-img img:nth-child(13) {
  top: 20.1rem;
  left: 13rem;
  animation: randomMove12 6s infinite;
}
.hero-img img:nth-child(14) {
  top: 6.4rem;
  left: 15.3rem;
  animation: randomMove13 6s infinite;
}
.hero span {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
}
.hero-round-rose {
  background: rgba(255, 168, 241, 0.37);
  width: 27.6rem;
  height: 27.6rem;
  top: 13.6rem;
  left: 14.8rem;
}
.hero-round-blue {
  background: rgba(111, 217, 251, 0.6);
  width: 26.8rem;
  height: 26.4rem;
  top: 3.9rem;
  left: 39.1rem;
}
.hero-round-grey {
  background: rgba(200, 222, 255, 0.37);
  width: 47.9rem;
  height: 47.9rem;
  top: 3.92rem;
  left: 42.8rem;
}
.hero-round-green {
  background: rgba(152, 224, 194, 0.38);
  width: 23.1rem;
  height: 23.1rem;
  top: 6.5rem;
  right: 12.1rem;
}
.hero-round-orange {
  background: rgba(255, 217, 195, 0.61);
  width: 15rem;
  height: 15rem;
  bottom: 0.4rem;
  right: 12.1rem;
}
.hero-round-yellow {
  background: rgba(255, 252, 189, 0.45);
  width: 26.4rem;
  height: 26.4rem;
  bottom: 3.9rem;
  right: 0.3rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-logo {
  position: relative;
  z-index: 1111;
  margin-bottom: 2.4rem;
}
.hero-logo-descr {
  display: flex;
  align-items: center;
}
.hero-logo-descr > .line {
  width: 2.9rem;
  height: 0.15rem;
  background: #141414;
}
.hero-logo-descr > .line:nth-child(1) {
  margin-right: 0.7rem;
}
.hero-logo-descr > .line:nth-child(3) {
  margin-left: 0.7rem;
}

.nabery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 13.5rem;
  margin-bottom: 9.4rem;
}

/*# sourceMappingURL=style.css.map */
