// Color white and black

$color-white: #fff
$color-black: #141414

// Color background all site

$color-bcg-site: #F7F7F7

// Color text

$color-text: #292929

// Color pros items bcg

$color-blue: #D4E9F9

// Color header top

$color-brown: #F7EBE5

// Color link with text "Сладкие дни"

$color-rose: #E7426A

// Color stroke for link in dropdown

$color-white-light: #EDEDF0

// Colors of rounds in hero section

$color-rose-round: rgba(255,168,241, .37)

$color-blue-round: rgba(111,217,251, .6)

$color-grey-round: rgba(200,222,255, .37)

$color-green-round: rgba(152,224,194, .38)

$color-orange-round: rgba(255,217,195, .61)

$color-yellow-round: rgba(255,252,189, .45)

// Colors nabery items

$color-nabery-pitch: #FFDBC3

$color-nabery-rose: #FFC2CC
$color-nabery-rose__light: #FDD5CD

$color-nabery-green: #B4EAB3

$color-nabery-blue: #A8DCDF

$color-nabery-purple: #C4C6EC

// Colors actions items

$actions-blue: #8CC4EC

$actions-red: #FF4D6D

// Color border actions slider button

$border-actions-slider: #E5E5E5

// Color line in big section

$big-line: #D2D2D2

// Color border in blue-border-button

$blue-border: #4E9DD3

// Color date in news item

$news-date: #969696
