.pros
    display: flex
    align-items: center
    justify-content: space-between
    background: $color-blue
    padding: 1.5rem 13.5rem
    &-button
        color: rgba(41, 41, 41, .8)
        background: none
        border: none
    &-items
        background: $color-blue
