*
    box-sizing: border-box

html
    &:root
        font-size: 10px

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Bold.woff) format(woff)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Bold.woff2) format(woff2)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Regular.woff) format(woff)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Regular.woff2) format(woff2)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Semibold.woff) format(woff)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Semibold.woff) format(woff)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Semibold.woff2) format(woff2)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Thin.woff) format(woff)

@font-face
    font-family: "Proxima Nova"
    src: url(../font/Proxima-Nova-Thin.woff2) format(woff2)

h1, h2, h3, h4, h5, h6
    font-family: "Montserrat"

p
    font-family: "Proxima Nova"

body
    background: $color-bcg-site

ul, li, ol
    padding: 0
    margin: 0
